@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    section#login {
        height: 330px;
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }

    section#login > div#form > p{
        text-align: center;
        font-size: 1em;
    }

    section#login > div#form > h1{
        font-size: 2.3em;
    }
}

@media screen and (min-width: 992px){

    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }
    
    section#login{
        height: 380px;
        width: 950px
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 50%;
    }

    section#login > div#form > h1{
        font-size: 2.3em;
    }

    section#login > div#form > p{
        text-align: center;
        font-size: 1.2em;
    }
}